.my-profile {
    .input {
        height: 40px;
    }

    .field {
        .field-label {
            text-align: left;
            flex-grow: 0.95;
        }
    }

    .select:not(.is-multiple):not(.is-loading)::after {
        border-color: $primary;
    }

    .button[type=save] {
        float: right;
        width: unset;
        padding: 0 2rem;

        @include mobile {
            width: 100%;
        }
    }
}