.my-reviews {
	.my-reviews-listing-content {
		* {
			margin: 0;
			padding: 0;
		}

		list-style-type: none;
		width: 100%;

		.review-info-title {
			font-weight: bold;
			margin-top: 1rem !important;
		}

		.my-reviews-listing-item {
			border-bottom: 1px solid $light-gray;

			.product-img {
				float: left;
				width: 80px;
				height: 80px;
				margin-right: 1rem;
				background-size: contain;
				background-repeat: no-repeat;
			}

			.review-info-comment {
				font-size: 14px;
				margin-bottom: 1rem;
			}
		}
	}
}
