.my-reviews {
	.my-reviews-listing-content {
		.my-reviews-listing-item {
            height: 80px;
            margin-bottom: 1rem;

			.product-img {
				width: 80px;
				height: 100%;
				display: inline-block;
				background-repeat: no-repeat;
				background-size: contain;
			}

			.review-info {
                margin-left: 0.5rem;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}
