@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";

$primary: #20bd67;
$secondary: #199450;
$tertiary: #11703c;

$light-gray: #f7f7f7;
$light-black: rgba(0, 0, 0, .05);

$header-height: 125px;
$header-height-mobile: 60px;

$tablet: 721px;
$desktop: 1024px;

$family-sans-serif: "Montserrat", sans-serif;

@import "../../../node_modules/bulma/bulma.sass";
@import "./utils/all";

@import "./account/all";
@import "./auth/all";
@import "./common/all";
@import "./other/all";
@import "./product/all";

.fake-content {
	height: 1500px;
}

body {
	.overlay {
		background: rgba(0, 0, 0, 0.08) !important;
	}

	#feedbuzz-master {
		#feedbuzz-body {
			top: $header-height;
			position: relative;

			@include mobile {
				padding: 0.75rem;
				top: $header-height-mobile;
			}
		}

		#feedbuzz-header {
			position: fixed;
			z-index: 99;
			width: 100%;
			background: white;
		}

		#fdb-footer {
		}
	}

	a {
		text-decoration: none;
		color: unset;
	}
	a:visited {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
	a:focus {
		text-decoration: none;
		color: unset;
	}
	a:hover,
	a:active {
		text-decoration: none;
	}

	.pagination {
		margin-top: 2rem !important;
		.pagination-link {
			&.is-current {
				background-color: $primary;
				border-color: $primary;
			}
		}
	}

	.select {
		select {
			&:focus {
				outline: none;
				border-color: #dbdbdb;
				box-shadow: none;
			}
		}
	}

	.button.is-focused:not(:active),
	.button:focus:not(:active) {
		box-shadow: none;
	}

	.columns:last-child {
		margin-bottom: 0rem;
	}

	.columns {
		margin-left: 0rem;
		margin-right: 0rem;
		margin-top: 0rem;
	}

	.button {
		width: 100%;
		border: none;
		font-weight: bold;
		color: white !important;
		background: $primary;
		margin-bottom: 1.5rem;

		&:hover {
			background: $secondary;
		}
	}

	.input {
		box-shadow: none;

		&:active,
		&:hover,
		&:focus {
			border-color: #dbdbdb;
			@include appearance(none);
			@include box-shadow(none);
		}
	}

	.bg-color-trans {
		@include transition(background 0.5s);
	}

	.v-and-h-centered {
		display: flex;
		justify-content: center;
		@include align-items-center();
	}

	.container {
		@media (min-width: 1000px) {
			max-width: 1500px;
		}

		@include tablet-only {
			padding: 0 1rem;
		}
	}

	.hero.banner {
		@include mobile {
			margin-top: -.75rem;
			margin-left: -.75rem;
			margin-right: -.75rem;
		}
	}

	//Full page icon and close button
	.feedbuzz-icon {
		width: 200px;
	}

	.big-btn {
		font-size: 3.5rem;
		padding: 0.5rem;
		border-radius: 50px;
		@include transition-with-transform(background .3s);

		&:hover {
			cursor: pointer;
			background: $light-gray;
		}

		@include mobile {
			font-size: 2rem;
			padding: 0;

			&:hover {
				background: none;
			}
		}
	}

	.full-pg-close {
		position: absolute;
		right: 0;
		top: 0;
		margin: 3rem;

		&:hover {
			@include transform(rotate(90deg));
		}

		@include mobile {
			margin: 1rem;
		}
	}
}
