.product-listing-container {
    margin-bottom: 2rem;
    margin-top: 2rem;

    .pl-input-container {
        z-index: 1;
        width: 100%;
        text-align: center;

        .b-input-icon-wrapper {
            width: 50px;
            height: 56px;
            background: $primary;
            color: white;
            font-size: 1.5rem;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            @include transition(background 0.5s);

            &:hover {
                background: $secondary;
            }
        }

        .pl-input {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            line-height: 40px;
            background: $light-gray;
            border: none;
            padding: 0.5rem 1.5rem;
            font-size: 20px;
            outline: none;
            width: 100%;
            max-width: 600px;

            @include mobile {
                max-width: 250px;
                font-size: 16px;
            }
        }
    }
}