.product-listing-container {
    margin-bottom: 2rem;
    margin-top: 2rem;

    .pl-input-container {
        z-index: 1;
        width: 100%;
        text-align: center;

        .b-input-icon-wrapper {
            width: 50px;
            height: 56px;
            background: $primary;
            color: white;
            font-size: 1.5rem;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            @include transition(background 0.5s);

            &:hover {
                background: $secondary;
            }
        }

        .pl-input {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            line-height: 40px;
            background: $light-gray;
            border: none;
            padding: 0.5rem 1.5rem;
            font-size: 20px;
            outline: none;
            width: 100%;

            @include mobile {
                font-size: 16px;
            }
        }
    }

    .product-listing-content {
        margin-top: 1rem;
        margin-left: -0.75rem;
        margin-right: -0.75rem;

        .product-listing-item {
            width: 25%;
            padding: 0.75rem;
            display: inline-block;

            @include tablet-only {
                width: 33.3%;
            }

            @include mobile {
                width: 50%;
            }

            .product-image-container {
                img {
                    background: $light-gray;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
            }

            .item-content {
                .product-info {
                    padding: 0 0.2rem;

                    .product-name {
                        font-size: 0.9rem;
                        font-weight: bold;
                    }

                    .rating-info {
                        .nb-reviews {
                            font-size: 0.8rem;
                            vertical-align: text-bottom;
                        }
                    }
                }

                .button {
                    margin-top: 0.2rem;
                    margin-bottom: 0;
                    font-size: 14px;
                    padding: 0px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

            }
        }
    }
}