.fdb-footer {
	background: $light-gray;
	padding: 3rem 0rem;
	font-size: 0.9rem;
    position: relative;

	.height-teen-tag {
		position: absolute;
		bottom: 25px;
		right: 25px;
		font-size: 2rem;
		font-weight: bold;
	}

	.fdb-logo {
		height: 50px;
		margin-left: -4px;
	}

	.section-title {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	.footer-menu {
		display: block;
	}

	@include touch {
		padding: 3rem 2rem;
	}
}
