@import "./highest-rated-product.scss";
@import "./product-details.scss";

@import "./listing/product-listing.scss";

@import "./rating/product-rating.scss";
@import "./rating/steps/step-high.scss";
@import "./rating/steps/step-red-eye.scss";
@import "./rating/steps/step-effects.scss";
@import "./rating/steps/step-flavors.scss";
@import "./rating/steps/step-general.scss";