.home-page-content {
	margin-bottom: 2rem;
	
	.banner {
		height: 600px;
		position: relative;
		background: url(../img/main-banner.jpg) center;
		background-repeat: no-repeat;
		background-size: cover;

		&:before {
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: #20bd6785;
		}

		.home-banner-title {
			z-index: 1;
			font-size: 30px;
			font-weight: bold;
			color: white;
			text-align: center;
			margin-bottom: 2rem;

			&.spacer {
				margin-top: 2rem;
				margin-bottom: 0;
				visibility: hidden;

				@include mobile {
					margin-top: 0;
				}
			}

			@include mobile {
				margin-left: 3rem;
				margin-right: 3rem;
				font-size: 20px;
			}
		}

		.home-banner-input-container {
			z-index: 1;
			width: 100%;
			text-align: center;

			.b-input-icon-wrapper {
				width: 50px;
				height: 56px;
				background: $primary;
				color: white;
				font-size: 1.5rem;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
				@include transition(background 0.5s);

				&:hover {
					background: $secondary;
				}
			}

			.home-banner-input {
				border-bottom-left-radius: 3px;
				border-top-left-radius: 3px;
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
				line-height: 40px;
				border: none;
				padding: 0.5rem 1.5rem;
				font-size: 20px;
				outline: none;
				width: 100%;
				max-width: 600px;
				@include box-shadow((0 5px 30px rgba(0, 0, 0, 0.10), 0 2px 9px rgba(0, 0, 0, 0.20)));

				@include mobile {
					max-width: 250px;
					font-size: 16px;
				}
			}
		}
		@include tablet-only {
			height: 500px;
		}

		@include mobile {
			height: 300px;
		}
	}

	.highest-rated-product-container {
		padding: 5rem 0;

		@include touch {
			padding: 3rem 0;
		}
	}

	.all-products {
		width: 250px;
		margin: auto;
	}
}
